typescript-ioc.ts
gulpfile.js
tsconfig.json
typings.json
.DS_Store 
.jshintrc
.sublime-project
.tern-project
spec
package.sublime-workspace
.travis.yml
 !es5.js
 !es5.js.map
 !es6.js
 !es6.js.map

 !/doc