typescript-ioc.ts
gulpfile.js
tsconfig.json
typings.json
.DS_Store 
.jshintrc
.sublime-project
.tern-project
spec
package.sublime-workspace
.travis.yml
 !typescript-ioc.js
 !typescript-ioc.d.ts
 !typescript-ioc.js.map
 !es6.js
 !es6.d.ts
 !es6.js.map

 !/doc